.about {
  margin-top: 7%;
  flex-wrap: wrap;
  height: 145vh;
  font-family: "sans-serif";
  margin-inline: 20%;
}

h3 {
  color: #0b4d83;
}
.p1 {
  color: #403f3f;
}
.p2 {
  color: #403f3f;
}
.p3 {
  color: #403f3f;
}

.about-image{
  width: 900px;
}

@media (max-width: 1380px) {
  .about {
    margin-top: 13%;
    height: 140vh;
    border-width: 3px;
    margin-inline: 5%;

  }
  .about-image{
    width: 900px;
  }
}
@media (max-width: 980px) {
  .about {
    margin-top: 13%;
    height: 150vh;
    border-width: 3px;
    margin-inline: 5%;

  }
  .about-image{
    width: 700px;
  }
}
@media (max-width: 680px) {
  .about {
    margin-top: 13%;
    height: 170vh;
    border-width: 3px;
    margin-inline: 5%;

  }
  .about-image{
    width: 500px;
  }
}
@media (max-width: 500px) {
  .about {
    margin-top: 15%;
    height: 190vh;
    border-width: 3px;
    margin-inline: 5%;
  }
  .about-image{
    width: 300px;
  }
}

.product-text {
  font-family: 'Open Sans', sans-serif;
  color: #0b4d83;
}