.about {
  margin-top: 10%;
  height: 100vh;
  font-family: "monospace";
margin-left: 15%;
margin-right: 15%;
}

h3 {
  color: #0b4d83;
}
p1 {
  color: #403f3f;
}
p2 {
  color: #403f3f;
}
p3 {
  color: #403f3f;
}
