.carousel {
  margin-top: 100px;
  flex-wrap: wrap;
  height: 65vh;
  padding-block: 0px;
  padding-inline: 10px;
  
}

.slick-next {
  right: 20px;
  z-index: 1;
}

.slick-next::before {
  display: none;
}

.carousel-container {
  margin-bottom: 300px; /* Adjust margin-top as needed */
}
h1 {
  text-transform: uppercase;
  font-size: 4em;
}
.cardholder {
  
  margin-block: 25px;
  perspective: 600px;
}
.card {
  width: 300px;
  height: 300px;
  border-radius:50%;
  background-color: transparent;
  transform: rotateY(35deg);
  /* color: #0B4D83; */
  -webkit-box-shadow: -6px 5px 13px 2px #0B4D83;
  -moz-box-shadow: -6px 5px 13px 2px #0B4D83;
  box-shadow: -6px 5px 13px 2px #0B4D83;
  transition: all 1s ease;
  color: transparent;
}

.card:hover {
  width: 300px;
  height: 300px;
  background-color: transparent;
  transform: rotateY(0deg);
  box-shadow: 0px 0px 36px 2px #f7e86a;
}
.card:hover p {
  background-color: transparent;
}
p.desc {
  z-index: 999;
  /* position: absolute; */
  top: 10px;
  padding: 10px;
}

p.desc:hover {
  color: #120e0e;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 1;
}
