#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.active-row {
  color: #0B4D83;
  /* Additional styling for active rows */
}

.inactive-row {
  color: red;
  /* Additional styling for inactive rows */
}
